<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <li> Name: {{details.name}}</li>
    <li> Species: {{details.species}}</li>
    <li> Age: {{details.age}}</li>
    <li> Notes: {{details.notes}}</li>
    <li> Available : {% if details.available %} Yes</li>
    {% endif %}
    <img src="{{details.photo_url}}" width="500" height="500">


    <form>


        <button formaction="/{{details.id}}/edit" formmethod="GET">Edit</button>
        <button formaction="/{{details.id}}/delete" formmethod="POST">Delete</button>
    

    </form>


</body>

</html>